// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-mint-green: #5FB041;
$color-light: #F4FDF5;

// Typography
$ff-main: "DM Sans", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;