.header {
  margin: 0 0 20px 0;

  &__wrapper {
    background-color: #1B1B1B;
    border: 2px solid #262626;
    border-radius: 48px;
    padding: 20px;
  }

  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &-link {
      color: $color-white;
    }
  }
}